body {
  background-image: url(../../../public/assets/watermark-web-background.png);
}

.main {
  margin: 80px 15% 2% 15%;
  padding: 1%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  font-family: var(--Caveat-font-family);
  font-size: var(--h1-mobile-font-size);
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

h2 {
  font-size: var(--h2-mobile-font-size);
  font-weight: lighter;
  font-family: var(--Eras-font-family);
}

.pagination {
  display: inline-block;
  justify-content: center;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--grey-100);
  font-size: larger
}

.pagination a.active {
  background-color: var(--grey-60);
  color: var(--grey-100);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}


@media only screen and (max-width: 768px) {
  .autograph-card__body {
    display: flex;
    flex-direction: column;
  }

  .autograph-details {
    width: 100%;
  }

  .autograph-image {
    width: 80%;
    max-width: 100%;
  }

  .tag-list {
    justify-content: center;
  }

  .autograph-image-wrapper {
    border-right-style: none;
    display: flex;
    justify-content: center;
  }

  textarea {
    width: 90%;
  }

  h1 {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: var(--Caveat-font-family);
    font-size: var(--h1-mobile-font-size);

  }
}