h1, h2, h3, h4, h5 {
  font-weight: var(--heading-font-weight);
  font-family: var(--headings-font-family);
  color: var(--text-color-highlight);
}

/* Mobile */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: var(--h1-mobile-font-size);
  }

  h2 {
    font-size: var(--h2-mobile-font-size);
  }

  h3 {
    font-size: var(--h3-mobile-font-size);
  }

  h4 {
    font-size: var(--h4-mobile-font-size);
  }

  h5 {
    font-size: var(--h5-mobile-font-size);
  }
}

/* Wider screens */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }
}