.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--grey-100);
  width: -webkit-fill-available;
  z-index: 100;
}

.nav-menu .logo-wrapper {
  display: flex;
  align-items: center;
  font-family: var(--Permanent-Marker-font-family);
}

.nav-menu .logo-wrapper #logo {
  height: 50px;
  width: auto;
}

.nav-menu .logo-wrapper span {
  display: none;
}

.nav-menu span {
  color: var(--white);
}

.searchbar-wrapper {
  flex-grow: 1;
  max-width: 250px;
  margin: 0 20px;
  position: relative;
  height: 40px;
}

.searchbar-wrapper #search-icon {
  background-image: url("../../public/assets/icons/search_black_24dp.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  margin: 0 6px;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.searchbar-wrapper #searchbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid var(--black);
  background-color: var(--white);
  padding-left: 32px;
  color: var(--black);
}

.profile-menu-wrapper {
  height: 100%;
}

.profile-menu-wrapper #login-btn {
  color: var(--white);
  display: none;
}

.profile-menu {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.display-username {
  display: inline-block;
  margin-right: 10px;
}

.profile-menu #user-avatar {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  background-color: var(--grey-40);
}

.profile-menu__dropdown {
  display: none;
  position: absolute;
  right: -20px;
  top: 100%;
  width: 150px;
  flex-direction: column;
  background-color: var(--grey-40);
}

.profile-menu__dropdown.visible {
  display: flex;
}

.profile-menu__dropdown a {
  padding: 10px 15px;
  color: var(--white);
}

.profile-menu__dropdown a:not(:last-of-type) {
  border-bottom: 1px solid var(--white);
}


/* ADVANCED SEARCH FILTERS */
.nav-menu .advanced-search {
  display: none;
  padding: 20px;
  background-color: var(--grey-40);
}

.nav-menu .advanced-search.open {
  display: block;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
  overflow: scroll;
}

.nav-menu .advanced-search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.filter-group .input-group {
  margin-bottom: 5px;
}

.filter-group .input-group input {
  display: initial;
  width: unset;
}

.filter-group .input-group label {
  display: initial;
}

.input-group--submit {
  flex-basis: 100%;
}

.input-group--submit input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.input-group--submit input[type="submit"]:hover {
  box-shadow: var(--box-shadow);
}

.input-group input[type="range"]:first-of-type {
  margin-right: 0;
}

.input-group input[type="range"]:last-of-type {
  margin-left: 0;
}

.advanced-search__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  line-height: 1;
}

/**
 * ============================================
 * > TABLET
 * ============================================
 */
@media screen and (min-width: 992px) {
  .nav-menu .logo-wrapper span {
    display: inline-block;
  }

  .searchbar-wrapper {
    max-width: calc(30% - 40px);
    width: calc(50% - 40px);
  }

  .nav-menu .advanced-search {
    position: absolute;
  }

  .nav-menu .advanced-search form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .nav-menu .advanced-search.open {
    display: block;
    position: absolute;
    top: 100%;
    bottom: unset;
    left: unset;
    width: 100%;
    margin-left: -20px;
    overflow: initial;
  }
}