* {
  --h1-font-size: 3vw;
}

h1 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: var(--Caveat-font-family);
}

.nav-menu+* {
  margin-top: 60px;
}

.p-left {
  color: var(--black);
  justify-self: left;
  padding-left: 1vw;
  padding-bottom: 2vh;
  font-family: var(--Eras-font-family);
  font-weight: bold;
  text-decoration: underline;
  font-size: 150%;
}

.p-right {
  color: var(--black);
  justify-self: right;
  padding-right: 1vw;
  padding-top: 2vh;
  font-family: var(--Kalam-font-family);
}



.center-image-wrapper {
  display: grid;
  margin: 0 auto;
  justify-self: center;
}


.center-image-wrapper img {
  width: 80%;
  max-width: 100%;
  height: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5%;
  justify-self: center;
}

.center-p-left {
  color: var(--black);
  justify-self: left;
  padding-top: 1vh;
  padding-bottom: 2vh;
  font-family: var(--Eras-font-family);
  font-weight: bold;
  text-decoration: underline;
  font-size: 150%;
}

.center-p-right {
  color: var(--black);
  justify-self: right;
  padding-top: 2vh;
  font-family: var(--Kalam-font-family);
}

.link-category a {
  color: var(--black);
  font-size: 2vw;
  font-family: var(--Permanent-Marker-font-family);
  align-self: center;


}

a:hover {
  color: var(--grey-60);
}

.link-category {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "";
}

.link-category img {
  display: inline;
  padding: 5%;
}


.link-category:hover {
  filter: invert(57%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(88%) contrast(93%);
}

.autographsClass {
  border-radius: var(--border-radius);
  padding: 0 50px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}

.userName {
  color: var(--black);
  padding-bottom: 10px;
  font-family: var(--Eras-font-family);
  font-weight: bold;
  text-decoration: underline;

}


.autographDate {
  text-align: right;
  color: var(--black);
  justify-self: right;
  padding-top: 10px;
  font-family: var(--Kalam-font-family);

}



